{% extends 'default_layout.html' %}
<head>
      <title>Predict</title>
</head>

{% block content %}
<center>
    <div>
        <table cellpadding=8 cellspacing=8>
            <form action="{{ url_for('predict') }}" method="post">
                {% for label, feature in ui_config %}
                        {% if label != 'Predicted Result' %}
                            {% if loop.index % 2 != 0: %}
                            <tr>
                            {% endif %}
                            <td>{{label}}</td> <td>{{ form|attr(feature)() }}</td>
                            {% if loop.index % 2 == 0: %}
                                </tr>
                            {% endif %}
                        {% endif %}
               {% endfor %}
            </table>
    </div>
    <div>
        <br>
        <input type=submit value=Predict class="btn btn-primary">
        <hr style="border-top: 1px solid #000;">
    </div>
    <div>
        <table cellpadding=8 cellspacing=8>
            <tr align=center>
                <td><b>Predicted Result</b></td>
            </tr>
            <tr>
                <td>{{ form|attr('predicted_result')(cols="50", rows="6") }}</td>
            </tr>
        <table>
    </div>
    </form>
</center>
{% endblock %}
